<header class="header">
  <div class="header__top">
    <div class="header__top-inner">
      <button class="burger-btn">
        <span class="burger-btn__line"></span>
        <span class="burger-btn__line"></span>
        <span class="burger-btn__line"></span>
      </button>
      <h1 class="header__content-title header__content-title--mobile">Обучение</h1>
      <button class="btn btn--blue header__btn" (click)="showModal(true)">
        <span class="header__btn-text">Запланировать</span>
      </button>
    </div>
  </div>
  <div class="header__content">
    <div class="container">
      <div class="header__content-inner">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">Главная</a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">Планирование</a>
            </li>
          </ul>
        </nav>
        <h1 class="header__content-title">Планирование</h1>
      </div>
    </div>
  </div>
</header>