<div class="event">
  <div class="event__select-event">
    <div class="event__select-wrapper">
      <label class="event__label evevt__label-nopadding">
        <input class="event__input" type="text" value={{event}} required>
        <div class="event__label-text">Мероприятие</div>
      </label>
    </div>
  </div>
  <div class="event__setting-event">
    <div class="event__setting-block">
      <div class="event__select-wrapper">
        <label class="event__label">
          <span class="icon icon--date"></span>
          <input class="event__input" type="text" required>
          <div class="event__label-text">Дата</div>
        </label>
      </div>
    </div>
    <div class="event__setting-block">
      <div class="event__select-wrapper">
        <label class="event__label">
          <span class="icon icon--time"></span>
          <input class="event__input" type="text" required>
          <div class="event__label-text">Время</div>
        </label>
      </div>
    </div>
    <div class="event__setting-block">
      <div class="event__select-wrapper">
        <label class="event__label">
          <span class="icon icon--couch"></span>
          <input class="event__input" type="text" required>
          <div class="event__label-text">Тренер</div>
        </label>
      </div>
    </div>
  </div>
</div>